.pokemon-card-container {
    padding: 1rem;
    background-color: rgb(80, 109, 226);
    border-radius: 1rem;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    width: 8rem;
    height: 9rem;
    margin: 1rem;
    position: relative;
    // border-radius: 2ox;
    // width: 50%;
    color: white;

    .details-container {
        .image-container {
            height: 6rem;
            // margin-top: 10px;

            img {
                background-color: white;
                border-radius: 0.5rem;
            }
        }

        .deitals-container-demographics {
            // margin-top: 10px;
            height: calc(100% - 8rem);
        }

        .icon-container {
            position: absolute;
            right: 1rem;
            font-size: 15px;

            :hover {
                cursor: pointer;
                font-size: 25px;
            }
        }
    }
}