<div class="pokemon-card-container">
    <div class="details-container">
        <div class="image-container">
            <img src="{{details.sprites.front_default}}">
        </div>
        <div class="deitals-container-demographics">
            <div class="name-container">
                <div class="name-text-container">
                    Name: {{details.name}}
                </div>
            </div>
            <div class="height-container">
                Height: {{details.height}}
            </div>
            <div class="width-container">
                Weight: {{details.weight}}
            </div>
        </div>
        <div class="icon-container">
            <mat-icon (click)="openModal(details)">info</mat-icon>
            <!-- <button type="button" (click)="openModal(details)">Click</button> -->
        </div>
    </div>
</div>