.pokemon-card-container {
    padding: 1rem;
    background-color: rgb(80, 109, 226);
    border-radius: 1px;
    min-height: 5rem;
    display: flex;
    width: 15rem;
    margin: 3rem;
    // width: 50%;
    color: white;
}