.main-container {
    height: 100vh;

    .search-bar-container {
        height: 2rem;
        display: flex;
        background-color: #e7f0ff;
        align-items: center;
        padding: 0.1rem;

        input {
            border-radius: 8px;
            border: solid blue;
            margin: 0.1rem;
        }
    }

    .router-outlet-container {
        height: calc(100% - 4rem);
        overflow: auto;
    }

    .pagination-container {
        height: 3rem;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;

        .buttons-container {
            margin: 0rem 2rem;
            /* padding-left: 35rem; */
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
        }
    }
}